/*for smaller screens*/
@media (max-width:599px){
    body{
        background: linear-gradient(-45deg,#112d60,#fffdd0,#98adda,#fcd2d3);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient{
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
    h1{
        font-family: serif;
        font-weight: bolder;
        color: #ffffff;
        text-align: center;
    }
    p{
        text-align: center;
        font-family: Garamond,serif;
        font-weight: bold;
        font-size: 15px;
    }
    #pic{
        position: relative;
        border-radius: 50%;
        left: 150px;
        width: 150px;
        height: 150px;
    }
    ul{
        position: relative;
        left: 140px;
    }
    ul li{
        font-family: serif;
        font-weight: bold;
     }
    
    ul li a{
        font-family: serif;
        font-weight: bold;
        font-size: 19px;
        color: black;
        text-decoration: none;
    
    }
    ul li a:hover{
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(9, 96, 146);
    }
    .btn{
        font-size: small;
        position: relative;
        left: 150px;
        background-color:rgb(9, 96, 146);
        padding: 12px;
        height: 20px;
        width: 22%;
        border-radius: 5px;
        color:white
    }
    .btn a{
        text-decoration: none;
        color: #ffffff;
    }
    .btn:hover{
        background-color:rgb(49, 141, 194) ;
    }

}
/*for large/pc screens*/
@media (min-width:600px){
body{
    background: linear-gradient(-45deg,#112d60,#fffdd0,#98adda,#fcd2d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
h1{
    font-family: serif;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}
p{
    text-align: center;
    font-family: Garamond,serif;
    font-weight: bold;
    font-size: 19px;
}

#pic{
    position: relative;
    border-radius: 50%;
    left: 500px;
    width: 250px;
    height: 250px;
}

ul{
    position: relative;
    left: 540px;
}
ul li{
    font-family: serif;
    font-weight: bold;
 }

ul li a{
    font-family: serif;
    font-weight: bold;
    font-size: 23px;
    color: black;
    text-decoration: none;

}
ul li a:hover{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(9, 96, 146);
}

.btn{
    position: relative;
    left: 540px;
    background-color:rgb(9, 96, 146);
    padding: 15px;
    height: 20px;
    width: 10%;
    border-radius: 5px;
    color:white
}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.btn:hover{
    background-color:rgb(49, 141, 194) ;
}
}